<div class="form-area">
  <p class="title">
    <label for="gallery_name">Gallery name</label>
    <%= f.text_field "name", :class => 'textbox', :maxlength => 255 %>
  </p>
	<p class="description">
    <label for="gallery_description">Gallery description</label>
  </p>
	<div>
		<%= f.text_area "description", :class => 'textbox', :maxlength => 255 %>
	</div>

	<p class="title">
		<label for="gallery_name">Gallery location</label>
		<%= f.text_field :location, :class => 'textbox', :maxlength => 25 %>
	</p>

  <p id="advanced_options" class="buttons">                                                 
		<%= f.check_box :hidden, {:id => 'hide_gallery'} %>
		<label for="hide_gallery">Hide this gallery in galleries list. </label> 
	</p> 

	<div id="gallery_keywords" class="buttons"> 
		<h3>Manage Keywords</h3>
		<% @keywords.each do |keyword| %>

			<% unless keyword.keyword.nil? %>

				<span class="keyword">
					<%= check_box_tag "keywords[]", keyword.id,  @gallery.gallery_keywords.include?(keyword) %>
					<%= link_to keyword.keyword, edit_admin_gallery_keyword_path((@gallery.new_record? ? Gallery.first : @gallery), keyword) %>
					<%= ' | ' unless @keywords.last == keyword %> 
				</span>

			<% end %>

		<% end if @keywords.length > 0 %>
		
		<div class="spacer">&nbsp;</div>
		
		<div class="keyword">
			<label for="new_keyword">New gallery keyword </label><br/>
			<%= text_field_tag 'new_keyword', GalleriesController::DefaultKeyword %>
		</div>
	</div>
</div>  

<p class="buttons">
  <%= save_model_button(@gallery) %> <%= save_model_and_continue_editing_button(@gallery) %> or <%= link_to "Cancel", admin_galleries_path %>
</p>